version: '3.4'

networks:
  myappnetwork:
    name: myappnetwork

services:
  catalogdb:
    container_name: catalogdb
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=abc@123
      - POSTGRES_DB=CatalogDb
    restart: always
    networks: 
        - myappnetwork
    ports:
        - "5432:5432"
    volumes:
      - postgres_catalog:/var/lib/postgresql/data/
  basketdb:
    container_name: basketdb
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=abc@123
      - POSTGRES_DB=BasketDb
    restart: always
    networks: 
        - myappnetwork
    ports:
        - "5433:5432"
    volumes:
      - postgres_basket:/var/lib/postgresql/data/
 
  distributedcache:
    container_name: distributedcache
    restart: always
    ports:
        - "6379:6379"

  orderdb:
    container_name: orderdb
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=P@ssw0rd
    restart: always
    networks: 
        - myappnetwork
    ports:
        - "1433:1433"

  catalog.api:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_HTTP_PORTS=8080
      - ASPNETCORE_HTTPS_PORTS=8081
      - ConnectionStrings__Database=Server=172.26.160.1;Port=5432;Database=CatalogDb;User Id=postgres;Password=abc@123;Include Error Detail=true
 
    depends_on:
        - catalogdb
    ports:
      - "6000:8080"
      - "6060:8081"
    networks: 
        - myappnetwork
    volumes:
      - ${APPDATA}/Microsoft/UserSecrets:/home/app/.microsoft/usersecrets:ro
      - ${APPDATA}/ASP.NET/Https:/home/app/.aspnet/https:ro

  basket.api:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_HTTP_PORTS=8080
      - ASPNETCORE_HTTPS_PORTS=8081
      - ConnectionStrings__Database=Server=172.26.160.1;Port=5433;Database=BasketDb;User Id=postgres;Password=abc@123;Include Error Detail=true
      - ConnectionStrings__Redis=distributedcache:6379
      - GrpcSettings__DiscountUrl=https://discount.grpc:8081
    depends_on:
    - basketdb
    - distributedcache
    - discount.grpc 
    ports:
      - "6001:8080"
      - "6061:8081"
    networks: 
        - myappnetwork
    volumes:
      - ${APPDATA}/Microsoft/UserSecrets:/home/app/.microsoft/usersecrets:ro
      - ${APPDATA}/ASP.NET/Https:/home/app/.aspnet/https:ro

  discount.grpc:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_HTTP_PORTS=8080
      - ASPNETCORE_HTTPS_PORTS=8081
      - ConnectionStrings__Database=Data Source=172.26.160.1
    ports:
      - "6002:8080"
      - "6062:8081"
    volumes:
      - ${APPDATA}/Microsoft/UserSecrets:/home/app/.microsoft/usersecrets:ro
      - ${APPDATA}/ASP.NET/Https:/home/app/.aspnet/https:ro
